[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = Link Aggregation Control Protocol
[access "refs/*"]
	owner = group ldap/gerrit-lacp-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
